* {
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./Assets/usaa3.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button:hover {
  cursor: pointer;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  color: #333;
  z-index: 10;
  background-color: #eee;
  text-align: center;
  max-width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #111;
  position: relative;
  animation: animate 0.3s;
  padding: 1rem 0rem;
}

.closeModalBtn {
  position: absolute;
  top: .25rem;
  right: .25rem;
  color: red;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all .2s ease-in-out;
  opacity: .5;
  background-color: transparent;
}

.closeModalBtn:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.5);
}

.individualCard {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  padding-bottom: 0;
}

.editTextArea,
.editTitleBox {
  color: inherit;
  font-family: inherit;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: .25rem;
  border: none;
  background: #eee;
  outline-color: #aaa;
}

.editTitleBox {
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
}

.editControlsContainer {
  max-width: 100%;
  display: flex;
  gap: .5rem;
  justify-content: space-evenly;
  align-items: center;
}

.verifyDeleteMsg {
  color: crimson;
  font-weight: bold;
  font-size: 1.2rem;
}

.editControlsContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.controlBtn {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  width: 200px;
  height: 50px;
  border-radius: 999px;
  border: none;
  box-shadow: 5px 5px 5px #111;
  transition: all .2s ease-in-out;
  opacity: .7;
}

.controlBtn.delete {
  background-color: darkred;

}

.controlBtn.edit {
  background-color: darkblue;
}

.controlBtn.save {
  background-color: darkgreen;
}

.controlBtn:hover {
  opacity: 1;
}

@media (max-width: 500px) {
  .editControlsContainer {
    flex-direction: column;
    align-items: center;
  }
}

.appContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.headerTitle {
  color: #eee;
  user-select: none;
  text-shadow: 1px 1px 2px black;
  margin-left: 2.5rem;
}

.navbarContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  background-color: #214460;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #111;
  gap: 1.5rem;
  padding: 0rem 1.4rem;
  font-size: 1.25rem;
  flex-wrap: wrap;
}

.linksContainer {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
  align-items: flex-end;
}

@media (max-width: 720px) {
  .linksContainer {
    margin-right: auto;
  }
}


.zindex0 {
  z-index: 0;
}

.navLink {
  text-decoration: none;
  color: white;
  opacity: .5;
}

.navLink:hover {
  opacity: 1;
  transform: translateY(-2px);
}

.activeLink {
  opacity: 1;
  border-bottom: 4px solid white;
}

.allRecordsContainer {
  padding: 0rem 1rem;
}

.allRecordsDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.allRecordsDisplay:hover {
  background-color: inherit;
}

.updateMsgContainer>h3 {
  color: darkblue;
  background-color: rgba(255, 255, 255, .8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: 5px 5px 5px #111;
  padding: 1rem;
  max-width: fit-content;
  margin: auto;
  animation: animate .5s;
}

.recordCard {
  position: relative;
  background-color: rgba(255, 255, 255, .9);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: 5px 5px 5px #111;
  transition: all .2s ease-in-out;
  opacity: .8;
}

.cardDataInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.recordCard:hover {
  cursor: pointer;
  opacity: 1;
  color: #333
}

.recordTitle {
  padding: .5rem;
}

.recordBody {
  text-align: left;
  padding: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .allRecordsDisplay {
    grid-template-columns: 1fr;
  }
}

.home-about--Container {
  padding: 1rem;
  margin-top: 1rem;
  max-width: 80%;
  align-self: center;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 5px;
  box-shadow: 5px 5px 5px #111;
  background-color: rgba(255, 255, 255, .8);
}

.home-about--Content h2 {
  color: rgba(0, 0, 255);
  text-shadow: 1px 1px black;
}

.home-about--Content>p {
  text-align: left;
  margin-top: .5rem;
  text-indent: 1rem;
}

.pageControlsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.pageControlsContainer button,
.addRecordBtn {
  min-width: 10%;
  /* min-height: 30px; */
  padding: .5rem;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 5px;
  box-shadow: 5px 5px 5px #111;
  background-color: rgba(255, 255, 255, .8);
  opacity: .75;
  transition: all .2s ease-in-out;
}

.pageControlsContainer button:hover,
.addRecordBtn:hover {
  opacity: 1;
}

.pageControlsContainer button svg {
  padding-top: 4px;
}

.pageNextBtn {
  margin-left: auto;
}

.addRecordBtn {
  margin-bottom: 1rem;
  width: 25%;
  font-weight: bold;
}

@keyframes animate {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

Footer{
  background-color: #333;
			color: #fff;
			padding: 10px;
			position: absolute;
			bottom: 0;
			width: 100%;
}

.usaa-logo{
  height: 30px;
  margin-right: 1rem;
  margin-top: 1.5rem;
}

.logoContainer{
  display: flex;
  position:absolute;
  padding: 0px;
  margin: 0px;
}