* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, sans-serif;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  background-color: whitesmoke;
}

button:hover {
  cursor: pointer;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  color: #333;
  z-index: 10;
  background-color: #fff;
  text-align: center;
  max-width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  position: relative;
  animation: animate 0.3s;
  padding: 1rem 0rem;
}

.closeModalBtn {
  position: absolute;
  top: .25rem;
  right: .25rem;
  color: red;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all .2s ease-in-out;
  opacity: .5;
  background-color: transparent;
}

.closeModalBtn:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.5);
}

.individualCard {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  padding-bottom: 0;
}

.individualCard:hover {
  cursor: default;
}

.editTextArea,
.editTitleBox {
  color: inherit;
  font-family: inherit;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: .25rem;
  border: none;
  background: inherit;
  outline-color: #aaa;
}

.editTitleBox {
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
}

.editControlsContainer {
  max-width: 100%;
  display: flex;
  gap: .5rem;
  justify-content: space-evenly;
  align-items: center;
}

.verifyDeleteMsg {
  color: crimson;
  font-weight: bold;
  font-size: 1.2rem;
}

.editControlsContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.controlBtn {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  width: 200px;
  height: 40px;
  border-radius: 999px;
  border: none;
  box-shadow: 2px 2px 4px #111;
  transition: all .2s ease-in-out;
  opacity: .7;
}

.controlBtn.delete {
  background-color: darkred;
}

.controlBtn.edit {
  background-color: darkblue;
}

.controlBtn.save {
  background-color: darkgreen;
}

.controlBtn:hover {
  opacity: 1;
}

@media (max-width: 500px) {
  .editControlsContainer {
    flex-direction: column;
    align-items: center;
  }
}

.appContainer {
  text-align: center;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "nav content"
    "nav content";
  column-gap: 1rem;
}

.headerTitle {
  user-select: none;
}

.navbarContainer {
  grid-area: nav;
  color: whitesmoke;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-content: flex-start;
  padding: .5rem;
  font-size: 1.5rem;
  flex-wrap: wrap;
}

.titleContainer {
  height: fit-content;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.zindex0 {
  z-index: 0;
}

.navLink {
  text-decoration: none;
  color: whitesmoke;
  opacity: .5;
}

.navLink:hover {
  opacity: 1;
  transform: translateY(-2px);
}

.activeLink {
  opacity: 1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.allRecordsContainer {
  padding: 0rem 2rem;
}

.allRecordsDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.updateMsgContainer {
  margin-top: 1rem;
}

.updateMsgContainer>h3 {
  color: darkgreen;
  border-radius: 2px;
  box-shadow: 2px 2px 4px #111;
  padding: 1rem;
  max-width: fit-content;
  margin: auto;
  animation: animate .5s;
}

.recordCard {
  position: relative;
  transition: all .2s ease-in-out;
  padding: 1rem;
}

.cardDataInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.recordTitle {
  margin-bottom: .5rem;
}

.recordBody {
  text-align: left;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .allRecordsDisplay {
    grid-template-columns: 1fr;
  }
}

.home-about--Container {
  grid-area: content;
  justify-self: center;
  padding: 4rem 0rem;
  max-width: 80%;
  align-self: top;
  height: 100vh;
  border-radius: 2px;
}

.home-about--Content {
  background-color: #fff;
  padding: 1rem;
}

.home-about--Content>p {
  text-align: left;
  margin-top: .5rem;
  text-indent: 1rem;
}

.pageControlsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.pageControlsContainer button {
  background-color: inherit;
  color: inherit;
  min-width: 10%;
  padding: .5rem;
  border-radius: 2px;
  transition: all .2s ease-in-out;
}

.recordCard:hover,
.pageControlsContainer button:hover {
  cursor: pointer;
  background-color: #fff;
}

.pageControlsContainer button svg {
  padding-top: 4px;
}

.pageNextBtn {
  margin-left: auto;
}


/* THEME STYLES */
/* ============================ */

:root {
  /* color: dark; */
  --main-color: darkgreen;
  --comp-color: #4A0563;
  --hover-color: #00B000;
}

.navbarContainer {
  background-color: var(--main-color);
}

.activeLink {
  opacity: 1;
  border-bottom: 4px solid var(--comp-color);
}

.recordCard,
.home-about--Content,
.modal {
  border-left: 10px solid var(--main-color);
  box-shadow: 2px 2px 4px black;
  border-radius: 10px;
}

.modal {
  border-left: 10px solid var(--comp-color);

}

.recordCard:hover {
  /* border: 2px solid var(--hover-color); */
  border-left: 10px solid var(--comp-color);
}

.home-about--Content h2,
.updateMsgContainer>h3 {
  color: var(--main-color)
}

.updateMsgContainer>h3,
.pageControlsContainer button {
  border: 2px solid var(--main-color);
}

.pageControlsContainer button:hover {
  border: 2px solid var(--comp-color);
}

/* ============================ */

@keyframes animate {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}