table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
}

table th, td {
    padding: 0.5 rem;
    text-align: left;
}

table th{
    background-color: 007bff;
    color: #fff;
}

table td {
    border-bottom: 1px solid #fcfcfc;
}

.symbol-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    font-weight: bold;
}

button:hover {
    background-color: #214460;
    border: 1px;
    color: #ffffff;
    border: 1px solid #214460;
}