table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin-top: 2rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

table th{
    background-color: 007bff;
    color: #fff;
}

table td {
    border-bottom: 1px solid #fcfcfc;
    margin-top: 3rem;
    margin-bottom: 5px;
    padding-bottom: 12px;
}

table td button {
    margin-right: 5px;
}

.symbol-name {
    align-items: center;
    font-weight: bold;
}

button:hover {
    background-color: #214460;
    border: 1px;
    color: #ffffff;
    border: 1px solid #214460;
}

input[type="number"] {
    width: 60px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
}